@page
@{
}


<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.cdnfonts.com/css/glance-slab-test" rel="stylesheet">
    <style>


        body {
            color: white;
            font-family: 'Glance Slab Test', sans-serif;
            font-size: 30px;
        }
    </style>
</head>
<body>

    <center>
        <span style="font-size: 36px;">
            <span style="color:mediumvioletred;">T巴L∑påtHiC</span>
            <span style="color:limegreen;">pSyCHo</span>
            <span style="color:violet;">åsiåN</span>
            <span style="color:deepskyblue;">wåiƒu</span>
            <span style="color:indianred;">ßu∂∂hisT</span>
            <span style="color:lightpink;">ƒ∑D巴råtiOn</span>
        </span>
        <br />
        <br />


        <span style="font-size: 32px;">
            <a href="https://opencollective.com/waifuworks-llc">WaifuWorks LLC</a>
            <br />
            <a href="https://opencollective.com/clusterflux-llc">
                Clusterflux LLC
            </a>
            <br />
            <a href="https://opencollective.com/data-department-depot-llc">
                Data Department Depot LLC
            </a>
            <br />
        </span>
        <hr style="width:75%;height:5px;border-width:0;color:white;background-color:white">
    </center>
    <br>
    <br>
    <center>
        <div>
            <img id="surface" alt="surface.png" src="@Url.Content("~/surface.png")" height="500" ; width="500">
       
            <img id="teddy" alt="teddy.png" src="@Url.Content("~/teddy.png")" height="500" ; width="500">
        </div>
        <br />
        <div>
            <img id="whoops" alt="whoops.png" src="@Url.Content("~/whoops.png")" height="500" ; width="500">
        
            <img id="Up for grabs" alt="Up for grabs.png" src="@Url.Content("~/Up for grabs.png")" height="500" ; width="500">
        </div>
        <br />
        <div>
            <img id="Gorgeous woman" alt="Gorgeous woman.png" src="@Url.Content("~/Gorgeous woman.png")" height="500" ; width="500">
        </div>
    </center>
    <br />
    <br />
    <br />



    



</body>
</html>